/* Reset estilo basicos navegador */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
}

html,
body {
	background-color: #1b1b32;
	font-family: "Montserrat", sans-serif;
}