button {
	width: 250px;
	height: 80px;
	font-family: "Montserrat", sans-serif;
	font-size: 3.5rem;
	font-weight: bold;
	color: #ffffff;
	border: 2px solid #ffffff;
	border-radius: 15px;
	margin: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #00471b;
}

.botonClic {
	background-color: #002ead;
}

.botonReiniciar {
	background-color: #5a01a7;
}
