.contador {
	min-width: 300px;
	max-width: 300px;
	height: 300px;
	font-size: 16rem;
	padding: 25px;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 8px solid #ffffff;
	border-radius: 20px;
	margin-bottom: 15px;
}
